*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}
@media screen and (max-width:640px) {
    
    .end {
        display: none;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .logo {
        display: none;
    }
    
    .courses {
        display: none;
    }
    .login {
        margin-top: 70px;
    }
    .register{
        margin-top: 70px;
    }
    .alogin {
        margin-bottom: 40px;
    }
    .rlogin{
        margin-bottom: 40px;
    }
    .policy{
        margin:0;  
        padding: 0;
        font-size: 12px;
        font-weight: 400;
    }
    .email {
        width: 310px;
        height: 45px;
        border-radius: 10px ;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .pword {
        width: 310px;
        height: 45px;
        border-radius: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .logbutton {
        width: 310px;
        height: 45px;
        border-radius: 10px;
        
        
    }
    .registerbutton {
        width: 310px;
        height: 45px;
        border-radius: 10px ;

        
    }
    .pp {
        width: 300px;
        margin-top:-13px ;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    .google {
        width: 160px;
        height: 45px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .gp {
        height: 27px;
        font-size: 10px;
    }
    .gicon {
        width: 20px;
        height: 48px;    
    }
    .gfb {
        display: flex;
        gap: 20px;
        justify-content: center;
        
    }
    .formlogin {
        width: 310px;
        height: 310px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .formborder {
        width: 94%;
        border-radius: 10px;
        padding: 20px ;
        height:fit-content;
    }
    
    .formregister {
        width: 726px;
        height: 300px;
        border-radius: 20px ;
        margin: auto;
    }
    .RIdisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    }
    .foot {
        width: 420px;
        height: fit-content;
        background-color: #231f40;
        border: none;
        margin-top: 80px;
        text-align: left;
        padding: 50px;
        
    }
    .gridcontainer {
        display: grid;
        grid-template-columns: auto;
        
        
        
    }
    .rec {
        display: none;
    }
    
    .grid1 {
    
        width: 100%;
        
    }
    .grid2 {
    
        width: 100%;
        
    }
    .grid3 {
    
        width: 100%;
        margin-top: 100px;
        
    }
    .grid4 {
    
        width: 100%;
        margin-top: 90px;
        
    }
    

    .lform {
        width: 200px;
        
    }
    .unform {
        
        margin-top: 20px;
    }
    .lpara {
        
        margin-bottom:-10px;
    }
    .copyrightb{
        margin-top: -1px;
        width: 414px;
    }
    
}