*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}
@media screen and (min-width:640px) and (max-width:1024px) {
    
    
    .bluebuttton {
        width: 90px;
        
    }
    .whitebutton {
        width: 90px;
    }
    .courses {  
        font-size: 16px;  
    }
    .logo {
        width: 30px;
        margin-right: 50px;
    }
    .learn {
        width: 300px;
    }
    .login {
        margin-top: 50px;
    }
    .register{
        margin-top: 50px;
    }
    .alogin {
        margin-bottom: 60px;
    }
    .rlogin{
        margin-bottom: 60px;
    }
    .policy{
        margin:auto;  
        padding: 10px;
        font-size: 15px;
    }
    .email {
        width: 500px;
        height: 60px;
        border-radius: 15px ;
        
    }
    .pword {
        width: 500px;
        height: 60px;
        border-radius: 15px ;
    }
    .logbutton {
        width: 500px;
        height: 60px;
        border-radius: 15px ;
        
    }
    .registerbutton {
        width: 500px;
        height: 60px;
        border-radius: 15px ;
    }
    .pp {
        width: 500px;
        margin-top:-5px ;
        font-size: 16px;
        font-weight: 500;
    }
    .google {
        width: 300px;
        height: 45px;
        border-radius: 15px;
        margin-top: 10px;
    }
    .gp {
        height: 27px;
        font-size: 16px;
    }
    .gicon {
        width: 30px;
        height: 45px;    
    }
    
    .formlogin {
        width: 500px;
        height: 350px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .formborder {
        width: 600px;
        border-radius: 15px;
        padding: 40px ;
        height:fit-content;
    }
    .formborderreg{
        width: 620px;
        border-radius: 15px;
        padding: 40px ;
        height:fit-content;
        
    }
    .remember{
        font-size: 16px;
    }
    .forgetpword{
        font-size: 16px;
    }
    
    .formregister {
        width: 500px;
        height: 400px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .RIdisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    }
    .foot {
        width: 100%;
        height: fit-content;
        background-color: #231f40;
        border: none;
        margin-top: 80px;
        text-align: left;
        padding: 50px;
        
    }
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        
        
        
    }
    .grid1 {
    
        width: 100%;
        
    }
    .grid2 {
    
        width: 100%;
        
    }
    .grid3 {
    
        width: 100%;
        margin-top: 50px;
        
    }
    .grid4 {
    
        width: 100%;
        margin-top: 50px;
        
    }
    

    .lform {
        width: 200px;
        
    }
    .unform {
        
        margin-top: 20px;
    }
    .lpara {
        
        margin-bottom:-10px;
    }
    .copyrightb{
        margin-top: -2px;
        width: 100%;
    }
    .rederror{
        width: 400px;
        height: 60px;
        border-radius: 15px;
    }
    .warningicon{
        width: 40px;
    }
    .sorry{
        font-size: 14px;
        font-weight: 400px;
    }
    .formborderforgot {
        width: 620px;
        padding: 40px;
        height: fit-content;
        margin-bottom: 100px;
        
    }
    .formforget {
        width: 500px;
        height: 200px;
        margin: auto;
        
    }
    .green {
        width: 400px;
        height: 60px;
    }
    .formborderset {
        width: 620px;
        padding: 40px;
        height: fit-content;
        margin-bottom: 100px;
        
    }
    .formreset {
        width: 500px;
        height: 290px;
        margin: auto;
    }
}